.sidebar{
    position: absolute;
width: 200px;
height:200%;
left: 0px;
top: 44px;
box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #EEEFF2;
display: flex;
justify-content: center;

}


.sidebar-img{
 width: 200px;
 height: 80px;
    margin-right: 5px;
    display: flex;
    border: 1px solid ;
    border: transparent;
    opacity: 0.5;
    margin-top: 0px;
background:#FFF8D7;
margin-left: 4px;
flex: none;
order: 1;
flex-grow: 0;
color: #e7a042; ;
}
.img{
    height: 30px;
    width: 30px;
   
}