.card1{
    margin-left: 15%;
 
}
.card1 h4{
    color: lightgrey;
}

.card1 h3{
font-size: 20px;
color:  lightgrey;;
}
.card1 Button{
border-radius: 40px;
background: #D3E5FE;
color: #1236AA;
width: 113px;
height: 28px;
flex: none;
order: 0;
flex-grow: 0;
margin: 15px;

}


.card1 h5{
    font-size: 20px;
    color: #598CF4;
}
.card1 hp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    line-height: 160px;
    width: 275px;
    height: 36px;
    background: #E2E4E8;
  color: #000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 70%;
    margin-top: -4%;
    cursor: pointer;
    font-style: normal;
}

.card1 hq{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 16px;
    line-height: 200px;
    width: 275px;
    height: 36px;
    background: #5FC92E;
    color: #FFFFFF;;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left: 40%;
    cursor: pointer;
}
