.view{
   position: absolute;
    margin-left: 15%;
    width: 81%;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
 position:relative;
 margin-top: -12px;
 border: 3px solid lightgray;
 padding-left: 50px;
 padding-bottom:200px;
 padding-top: 10px;
 

}
.view-container{
        flex: 5;  
   position: sticky;
     
  }
  .view button{
    border-radius: 40px;
    background: rgb(145, 161, 248);
    margin-left:10px;
    color: blue;
   text-align: center;
   padding: 3px 22px;
   font-family: 'Satoshi';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   border: transparent;
  }
  .view p{
    text-align: end;
    margin-top: -35px;
   
  }
  .about {
   position: absolute;
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 37px;

  }
  .about p{
   
font-family: 'Satoshi';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
justify-content: center;
text-align:start;


  }
  .about h3{
    color: lightgray;
    font-size: 18px;
    font-family:'Satoshi';
  }
  .point-1{
   
    margin-left: 15%;
    width: 81%;
   margin-top: 10px;
 position:relative;
 font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 24px;
 border: 3px solid lightgray;
 padding-left: 50px;
 padding-bottom: 87.52%;
 padding-top: 10px;
  }
  .about-two{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 37px;
  }
  .about-two h5{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
 justify-content: center; 
 text-align: start;
  }
  .about-two h3{
    color: lightgray;
    font-size: 18px;
    font-family:'Satoshi';
    margin-bottom: -25px;
  }
  .point-1 button{
    border-radius: 40px;
    background: rgb(145, 161, 248);
    margin-left:10px;
    color: blue;
   text-align: center;
   padding: 3px 22px;
   font-family: 'Satoshi';
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   border: transparent;
  }
  .point-1 p{
    text-align: end;
    margin-top: -35px;
   
  }
  .about-two a{
    margin-top: -40px;
    color:#598CF4 ;
  }
  .about-two h4{
    color:#8C93A3;
    font-family: 'Satoshi';
font-style: normal;
font-weight: 500;
font-size: 18px;
  }
 .acp-rej hp{
 border: 0.5px solid ;
 border: transparent;
 font-family: 'Satoshi';
 font-style: normal;
 font-weight: 500;
 font-size: 20px;
 margin-left: 380px;
 margin-top: 35px;
 width: 280px;
 height: 40px;
 text-align:center;
 justify-content: center;
 background: #5FC92E;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
border-radius: 3px;
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
padding: 6px 18px;
 }
 .acp-rej{
 
  
  display:flex
  
  
 }
 .acp-rej h{
  border: 0.5px solid ;
  border: transparent;
  
  font-family: 'Satoshi';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-left: 75px;
  width: 280px;
  text-align: center;
  justify-content: center;
  height: 40px;
  margin-top: 35px;
  background: #E2E4E8;
  cursor: pointer;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
border-radius: 3px;
flex: none;
order: 0;
flex-grow: 0;
padding: 6px 18px;
  }
  .acp-rej h5 hp{
    margin-left: 10px;
  }