.topbar-list{
  width: 150px;
  height: 150px;
  position: absolute;
  margin-left: 5px;
}
.topbar{
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px -1px rgba(0, 0, 0, 0.12), 0px 0px 0px 3px #EEEFF2;
    align-items: center;
    justify-content: space-between;
}
.topbar p{
    font-family: 'Satoshi';
    font-style: normal;
    font-weight:bold;
    font-size: 18px;
    margin-left: 10.5%;
    color: #000000;
    margin-top:14px;
  
}
.img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background-color: #EEEFF2;
}