.topbar-list{
  width: 150px;
  height: 150px;
  position: absolute;
  margin-left: 5px;
}
.topbar{
    display: flex;
    background: #FFFFFF;
   border: 0.5px solid;
   border:transparent;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.topbar p{
  
    font-family: 'Satoshi';
    font-style: normal;
    font-weight:bold;
   position: relative;
  margin-left: 11%;
  margin-top:6px;

}
.img{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    background-color: #EEEFF2;
    
}